.countries-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.visited{
    background-color: aquamarine;
    margin: 20px;
    padding: 30px;
    border-radius: 12px;
}

.flags-container img{
    width: 80px;
    margin: 10px;
}